@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ViewData["Title"] = "WelcomeBro";
}
<h1> Welcome back bro :@ViewData["UserName"]</h1>
<h2>now : @ViewData["DateTime"]</h2>
<hr />